/* Layout */
body {
  background-color: #f2f2f2;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;

  font-size: 14px;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button:focus, button:active {
  outline: 0;
  border: none;
}

img.emoji, #logo {
  height: 32px;
  width: 32px;
}

img.emoji-small {
  height: 14px;
  width: 14px;
}

hr {
  border: 1px dashed #999999;
  margin: 20px 0;
}

header {
  min-height: 60px;
}

main {
  flex: 1;
}

footer {
  background-color: #075E54;
  padding: 20px;
  min-height: 100px;
}

/* Styles */
.suggestion-box {
  border: 1px solid #075E54;
  border-radius: 4px;
  padding: 10px;
}

.clickable {
  cursor: pointer;
}

.github:hover {
  color: #212529;
}

.twitter:hover {
  color: #1DA1F2;
}

.white {
  color: white;
}

.mood-button {
  margin: 10px;
  width: 100px;
  height: 100px;

  cursor: pointer;

  background-color: white;
  border-radius: 4px;
  border: none;
  text-align: center;
  text-decoration: none;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.mood-button.active {
  border: 2px solid #25D366;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

#text-box {
  width: 90%;
  min-width: 90%;
  min-height: 100px;
  max-height: 500px;
  resize: none;
  overflow: auto;
}

#strength-show div {
  font-weight: 600;
}

.zap {
  background-color: #25D366;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  transition: 0.4s;
  margin: 5px;
}

#ZAP:hover {
  filter: brightness(85%);
}

#ZAP:active {
  background-color: rgb(24, 143, 68);
}

/* Input style */
input[type="text"]{
  width: 100%;
  border: 1px solid #CCC;
  text-align: center;
  outline: 0;
  padding: .2em .5em;
  border-radius: 2px;
}

input[type="checkbox"]{
  vertical-align: middle;
}

/* Helpers */
.align-middle {
  vertical-align: middle;
}

.hidden {
  display: none;
}

.mt10 {
  margin-top: 10px!important;
}

.mt20 {
  margin-top: 20px!important;
}

.m5 {
  margin: 5px;
}

.mb10 {
  margin-bottom: 10px!important;
}

.mb20 {
  margin-bottom: 20px!important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.wrap {
  word-wrap: break-word;;
}